/* Created by Crystal.kerosene */

body {
padding: 5px;
background-color: white;
}
.goals{
padding-left:5px;
position: relative;
width: 100%;
}
	
a{
	color:#81accc;
	text-decoration:none;}
p{
	text-indent: 15px;
}
.dropbtn {
background-color: #81accc;
	color: black;
	cursor: pointer;
}

.dropdowns {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #ddd}
.show {display:block;}

.meow{
width:100px;
height:100%;
border:5px solid black;
	border-radius:50%;
}

figcaption{
	font-size:12px;
	
}
.mainpic{
	text-align:center;
	
}
.hit{
  height: auto;
  width: 100%;
  border-radius: 10px;
}
